.comment__list {
  margin-top: 30px;
  ul {
    column-count: 3;
    column-gap: 20px;
    li {
      break-inside: avoid-column;
      min-width: 100px;
      padding: 20px;
      border: 1px solid var(--white15);
      border-radius: 30px;
      margin-bottom: 20px;
      &:hover {
        background-color: var(--white05);
      }
      .comment__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
        .left {
          display: flex;
          align-items: center;
          .profill {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-right: 10px;
            overflow: hidden;
            > img {
              object-fit: contain;
            }
          }
          .info {
            > h3 {
              font-size: 1rem;
              font-family: var(--font-nanum);
              font-weight: 700;
              color: var(--white);
            }
            > span {
              font-size: 0.8rem;
              font-family: var(--font-nanum);
              color: var(--gray);
            }
          }
        }
        .right {
          .btn {
            > button {
              font-size: 1rem;
              font-family: var(--font-nanum);
              color: var(--gray);
              background-color: transparent;
              cursor: pointer;
              &:last-child {
                margin-left: 10px;
              }
              &:hover {
                color: var(--white);
              }
            }
          }
        }
      }
      > p {
        font-size: 1rem;
        font-family: var(--font-nanum);
        color: var(--gray);
      }
    }
    @media(max-width: 899px) {
      column-count: 2;
    }
    @media(max-width: 599px) {
      column-count: 1;
    }
  }
}

.comment__write {
  background-color: var(--white05);
  > form {
    .comment__top {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      .left {
        display: flex;
        align-items: center;
        .profill {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          margin-right: 10px;
          overflow: hidden;
          > img {
            object-fit: contain;
          }
        }
        .info {
          > h3 {
            font-size: 1rem;
            font-family: var(--font-nanum);
            font-weight: 700;
            color: var(--white);
          }
          > span {
            font-size: 0.8rem;
            font-family: var(--font-nanum);
            color: var(--gray);
          }
        }
      }
      .right {
        .btn {
          > button {
            font-size: 1rem;
            font-family: var(--font-nanum);
            color: var(--gray);
            background-color: transparent;
            cursor: pointer;
            &:last-child {
              margin-left: 10px;
            }
            &:hover {
              color: var(--white);
            }
          }
        }
      }
    }
    > textarea {
      width: 100%;
      min-height: 100px;
      font-size: 1rem;
      font-family: var(--font-nanum);
      color: var(--white);
      background-color: transparent;
      resize: none;
      &:focus {
        outline: 1px solid var(--white15);
        background-color: var(--white05);
      }
    }
  }
}
